html
	height: 100%
	width: 100%

	body
		height: 100%
		width: 100%

		.fill
			height: 100%
			width: 100%

		.stretch-width
			width: 100%

		.stretch-height
			height: 100%

		.em09
			font-size: 0.9em;

		.card
			border-color: #337ab7
			.card-header
				background-color: #337ab7
				border-color: #337ab7
				color: white;
			.card-block
				.error
					color: red;
				.input-group
					margin-bottom: 1em
					.input-group-addon
						background-color: #337ab7
						color: white;