#login .card {
  border-color: #337ab7; }
  #login .card .card-header {
    background-color: #337ab7;
    border-color: #337ab7;
    color: white; }
  #login .card .card-block .input-group-addon {
    background-color: #337ab7;
    color: white; }
